.buttonsPane {
    -fx-background-color: #333333;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.graphStyleTitleLabel  {
    -fx-font-family: sans-serif;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
